body{font-family:'Poppins', sans-serif;
margin: 0%;}
.header-area ul {
    text-align: right;
    margin-right: 133px;
}
.header-area  ul li{
display: inline-block;
padding-right: 40px;
color: 2px solid black;
}
.header-area ul li a{text-decoration: none;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 103px;
    margin-top: 83px;
}
.half-width a {
    border: 5px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, blue, tomato);
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 700;
    line-height: 93px;
    padding: 20px 40px;
}
.half-width h1 {
    font-size: 47px;
    line-height: 16px;
}
#name{color: blue;}
.half-width #p{line-height: 7px;
color: dimgray;}
.half-width #pp {
    line-height: 36px;
    color: dimgray;
}
.half-width img{width: 100%;}
.third-section {
    margin-top: 1289px;
    padding-top: 68px;
    background-color: #f8f9fc;
    height: 600px;
    padding-bottom: 123px;
}
.section{width: 100%;
    height: 570px;}
    .image {
        width: 100%;
        padding-top: 65px;
    }
    .image-width {
        width: 25%;
        float: left;
        margin-left: 75px;
        padding: 14px;
        background-color: #fff;
        border-radius: 27px;
        box-shadow: 0px 2px 20px;
    }
.image-width img{width: 100%;
float: left;
}
#third {
    text-align: center;
    font-size: 41px;
}
#third>span{color: blue;}

.banner {
    background-image: url("shapes/ll.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 49%;
    margin-left: 360px;
    padding: 37px;
    border-radius: 55px;
}
.fourth-section{  
      padding-top: 82px;
    padding-bottom: 97px;
}
.banner .end {
    width: 28%;
    display: inline-block;
    padding-left: 146px;
    color: white;
}
.end h1 {
    font-size: 31px;
}
.end a{text-decoration: none;
color: white;
border: 5px;
border-radius: 8px;
background-image: linear-gradient(45deg, blue, tomato);
font-size: 16px;
font-weight: 700;
padding: 20px 40px;}